{{> layout/default}}

<div class="d-flex flex-column mt-4 mx-auto" style="max-width: 650px;">
    <h2>New Inventory</h2>

    <form method="post" action="/inventory" class="mt-4">

        <div class="mb-3">
            <label class="form-label">Product</label>
            <select class="form-control" name="product.id" required>
                <option value="" selected>Choose product</option>
                {{#products}}
                    <option value="{{id}}">{{name}}</option>
                {{/products}}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Quantity Change</label>
            <input type="number" class="form-control" name="quantityChange" value="" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Type</label>
            <select class="form-control" name="type" required>
                <option value="IN">IN</option>
                <option value="OUT">OUT</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Timestamp</label>
            <input type="datetime-local" class="form-control" name="timestamp" value="" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Notes</label>
            <textarea class="form-control" name="notes" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/inventory" class="btn btn-secondary">Cancel</a>
    </form>
</div>
